pinecone
langchain
langchain-pinecone
langchain-community
langchain-huggingface # Added for updated HuggingFaceEmbeddings
sentence-transformers
tqdm
pyyaml
python-dotenv
langchain-google-genai # For Gemini integration
streamlit # For web UI
pinecone-client==2.2.4
